{% extends "base.html" %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Boss panel ekdom</h1>
      
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Total: {{size}}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">DISEC: {{d}}</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">AIPPM: {{a}}</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">NEPPM: {{n}}</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">IPC: {{ipc}}</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">..................................................................................</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{up}} have not paid</p> 
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{pd}} have paid</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Total Revenue earned: ₹{{total}}</p>       
    </div>

    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <input class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      <br>
      <a href="/payments"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Unpaid</button></a>
      <a href="/paid"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Paid</button></a>
      <a href="/download"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Download full data</button></a>

      <br>
      <table id="myTable" class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
          	<th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">Paid</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Standard</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">School</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Email</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">Ph1</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">Ph2</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">prc</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">prp</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">...........................exp....................</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">| fp</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">.....................notes......................</th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">|token|</th>

          </tr>
        </thead>
        <tbody>
        	<form method="POST" action="#">
        	{% for i in l %}
          <tr>
          	<td class="px-4 py-3 text-white">{{i[-2]}}</td>
            <td class="px-4 py-3 text-white">{{i[0]}}</td>
            <td class="px-4 py-3 text-white">{{i[1]}}</td>
            <td class="px-4 py-3 text-white">{{i[2]}}</td>
            <td class="px-4 py-3 text-white">{{i[3]}}</td>
            <td class="px-4 py-3 text-white">{{i[4]}}</td>
            <td class="px-4 py-3 text-white">{{i[5]}}</td>
            <td class="px-4 py-3 text-white">{{i[6]}}</td>
            <td class="px-4 py-3 text-white">{{i[7]}}</td>
            <td class="px-4 py-3 text-white">{{i[8]}}</td>
            <td class="px-4 py-3 text-white">{{i[9]}}</td>
            <td class="px-4 py-3 text-white">{{i[10]}}</td>
            <td class="px-4 py-3 text-white">{{i[12]}}</td>

            <td class="w-10 text-center">
              <button value="reject:{{i[12]}}" name="btn" class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Reject</button>
            </td>
            <td class="w-10 text-center">
              
            </td>
          </tr>
          {% endfor %}
        </tbody></form>
      </table>
    </div>
  </div>
</section>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
{% endblock %}