{% extends 'base.html' %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        
        <h2 class="title-font text-2xl font-medium text-white mt-6 mb-3">Download DISEC Data</h2>
        <p class="leading-relaxed text-base">download will be in standard csv format, and can be opened as excel file</p>
        <a href='/download-disec'><button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">DISEC</button></a>
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <h2 class="title-font text-2xl font-medium text-white mt-6 mb-3">Download AIPPM</h2>
        <p class="leading-relaxed text-base">download will be in standard csv format, and can be opened as excel file</p>
        <a href="/download-aippm"><button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Button</button></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}