{% extends "base.html" %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">People who have paid</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{num}} have paid</p>
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white"></h1>
    </div>

    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <input class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Names..">
      <br>
      <a href="/payments"><button class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Go to Payments Page</button></a>
      <br>
      <table id="myTable" class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
        	
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Name</th>

            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">|token|</th>

          </tr>
        </thead>
        <tbody>
        	<form method="POST" action="#">
        	{% for i in l %}
          <tr>
          	
            <td class="px-4 py-3 text-white">{{i[0]}}</td>
            <td class="px-4 py-3 text-white">{{i[1]}}</td>


            <td class="w-10 text-center">
              <button value="delete:{{i[1]}}" name="btn" class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody></form>
      </table>
    </div>
  </div>
</section>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
{% endblock %}